#map {
    position : absolute;
    height: 45vh;
    width: 100vw;
    bottom:0;
}

#carte {
    position : absolute;
}

.nav-tabs > li > a {
    background-color: #738085;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

#secondTab {
    margin-left:1.5vh;
}

body {
    /*overflow:hidden;*/
}

#autocomplete, #localisationTitre {
    width:30vw;
    margin-left:5vw;
}

#colonneGauche {
    width:50vw;
}