#map {
    position : absolute;
    height: 45vh;
    width: 100vw;
    bottom:0;
}

#carte {
    position : absolute;
}

.nav-tabs > li > a {
    background-color: #738085;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

#secondTab {
    margin-left:1.5vh;
}

body {
    /*overflow:hidden;*/
}

#autocomplete, #localisationTitre {
    width:30vw;
    margin-left:5vw;
}

#colonneGauche {
    width:50vw;
}


#listeStations {
    margin-left : 3vw;
    margin-right: 3vw;
}

#colonneDroite .btn-round-xs{
border-radius: 11px;
padding-left: 8px;
padding-right: 8px;
background-color: grey;
color:white;
}