#infosTempTable {
    position:absolute;
    top:50px;
    left:20vw;
    padding-top:50px;
}

#slider-vertical {
    position:absolute;
    top:50px;
    left:20px;
}

#thermostat {
    position:absolute;
    top:50px;
    right:5vw;
}